body{
  font-family: Arial;
}

#main{
  text-align: center;

}
#todo-input, #todo-date{
  font-size: 15px;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
}
.grid-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.btn{
  background-color: rgb(87,4,4);
  color: white;
  border-radius: 10px;
  padding: 15px 0px;
  border: none;
  cursor: pointer;
  width: 100%
}
#button{
  background-color: rgba(4, 87, 36, 0.938);
  color: white;
  border-radius: 10px;
  padding: 15px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Adjust for one column layout */
  }
}